{{#partial "content"}}

    {{#if editAnimal}}
        <h2>EDIT ANIMAL</h2>
        <form action="/animals/{{editAnimal.id}}/update" method="post" class="w3-container w3-card w3-padding-32 w3-white">
            <div class="w3-section">
                <label for="animalName">Animal Name</label>
                <input class="w3-input" id="animalName" name="animalName" type="text" value="{{editAnimal.name}}">
            </div>
            <div class="w3-section">
                <label for="animalGender">Animal Gender</label>
                <input class="w3-input" id="animalGender" name="animalGender" type="text" value="{{editAnimal.gender}}">
            </div>
            <div class="w3-section">
                <label for="animalType">Animal Type</label>
                <input class="w3-input" id="animalType" name="animalType" type="text" value="{{editAnimal.type}}">
            </div>
            <div class="w3-section">
                <label for="animalBreed">Animal Breed</label>
                <input class="w3-input" id="animalBreed" name="animalBreed" type="text" value="{{editAnimal.breed}}">
            </div>
            <div class="w3-section">
                <label for="dateSubmitted">Date Submitted</label>
                <input class="w3-input" id="dateSubmitted" name="dateSubmitted" type="text" value="{{editAnimal.date}}">
            </div>
            <button type="submit" class="w3-btn btn-color">Update!</button>
        </form>
    {{else}}
        <h2>ADD NEW ANIMAL</h2>
        <form action="/animals/new" method="post" class="w3-container w3-card w3-padding-32 w3-white">
            <div class="w3-section">
                <label for="animalName">Animal Name</label>
                <input class="w3-input" id="animalName" name="animalName" type="text">
            </div>
            <div class="w3-section">
                <label for="animalGender">Animal Gender</label>
                <input class="w3-input" id="animalGender" name="animalGender" type="text">
            </div>
            <div class="w3-section">
                <label for="animalType">Animal Type</label>
                <input class="w3-input" id="animalType" name="animalType" type="text">
            </div>
            <div class="w3-section">
                <label for="animalBreed">Animal Breed</label>
                <input class="w3-input" id="animalBreed" name="animalBreed" type="text">
            </div>
            <div class="w3-section">
                <label for="dateSubmitted">Date Submitted</label>
                <input class="w3-input" id="dateSubmitted" name="dateSubmitted" type="text">
            </div>

            <button type="submit" class="w3-btn btn-color">Submit</button>
        </form>
    {{/if}}

{{/partial}}

{{> layout.hbs}}